.banner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.banner span {
    font-family: 'Roboto';
    font-style: normal;
}

.title {
    font-weight: 500;
    font-size: 48px;
}

.title strong {
    color: #FF0101;
}

.status {
    font-weight: 400;
    font-size: 18px;
}